.post-comments {
  margin-top: 40px;
}

.post-comment {
  background-color: #3b3d42;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
}

.post-comment-header {
  margin-bottom: 20px;
}

.post-comment-avatar {
  display: inline-block;
  vertical-align: bottom;
  border-radius: 50%;
  max-width: 48px;
  max-height: 48px;
}

.post-comment-info {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 0;
  vertical-align: middle;
}

.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 20px;
  outline-color: #3b3d42;
  width: 100%;
}

.btn {
  border: 2px solid #3b3d42;
  background-color: #3b3d42;
  color: white;
  display: inline-block;
  font: inherit;
  padding: 15px;
  min-width: 75px;
  -webkit-appearance: none;
}

.btn:hover {
  border: 2px solid #3b3d42 !important;
  background-color: white;
  color: #3b3d42;
  text-decoration: none;
}